<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Marketplace</title>
</head>
<body>
<header>
    <div sec:authorize="!isAuthenticated()">
        <h4><a href="/login">Sign In</a></h4>
    </div>
    <div sec:authorize="isAuthenticated()">
        <h4>Hello,
            <div sec:authentication="principal.nickname">nickname</div>
        <form name="logoutForm" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        </h4>
    </div>
</header>
</body>
</html>