<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<a href="/main">main page</a>
<div class="nickname">
    <h1 th:text="${user.nickname}">nickname</h1>
</div>
<div class="description" th:if="${user.userDescription != null}">
    <p th:text="${user.userDescription}">description</p>
</div>
<div class="updateProfileLink" >
<a th:href="@{|/${user.nickname}/update|}">Update profile</a>
</div>
</body>
</html>